
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

h1 .divider {
	margin: 0 8px;
}

h1 .sub-headline {
	color: #888;
	font-weight: 300;
}

#station-map {
	width: 100%;
	height: 520px;
	border: 1px solid #ccc;
}