{% extends "layout.html" %}
{% block content %}

    <body>
    {%  if session_username is defined %}
        <h1>Welcome, {{ session_username }}</h1>
    {% endif %}

    <h3>Filter by:</h3>

    <label for="typeFilter">Crime Type</label>
    <input list="typeFilterOptions" id="typeFilter" name="typeFilter" />
    <datalist id="typeFilterOptions">
        {% for t in typeOptions %}
            <option value="{{ t }}">
        {% endfor %}
    </datalist>

    <label for="yearFilter">Year</label>
    <input list="yearFilterOptions" id="yearFilter" name="yearFilter" />
    <datalist id="yearFilterOptions">
        {% for y in yearOptions %}
            <option value="{{ y }}">
        {% endfor %}
    </datalist>

    <label for="districtFilter">District</label>
    <input list="districtFilterOptions" id="districtFilter" name="districtFilter" />
    <datalist id="districtFilterOptions">
        {% for d in districtOptions %}
            <option value="{{ d }}">
        {% endfor %}
    </datalist>

    

    </body>

{% endblock %}                              