{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="../static/styles/index.css"/>
    <section id="indexPage">
        <div id="welcome">
            {% if session_username is defined %}
                <h1>Welcome, {{ session_username }}</h1>
            {% endif %}
        </div>
        <section id="filtersContainer">
            <div id="inputs">
                <div class="input-container">
                    <label for="typeFilter">Crime Type</label>
                    <input list="typeFilterOptions" id="typeFilter" name="typeFilter" class="form-control"
                           placeholder="All"/>
                    <datalist id="typeFilterOptions">
                        {% for t in typeOptions %}
                            <option value="{{ t }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="input-container">
                    <label for="yearFilter">Year</label>
                    <input list="yearFilterOptions" id="yearFilter" name="yearFilter" class="form-control"
                           placeholder="All"/>
                    <datalist id="yearFilterOptions">
                        {% for y in yearOptions %}
                            <option value="{{ y }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="input-container">
                    <label for="districtFilter">District</label>
                    <input list="districtFilterOptions" id="districtFilter" name="districtFilter" class="form-control"
                           placeholder="All"/>
                    <datalist id="districtFilterOptions">
                        {% for d in districtOptions %}
                            <option value="{{ d }}">
                        {% endfor %}
                    </datalist>
                </div>
            </div>
            <div id="submitContainer">
                <button id="btnSearch" class="btn btn-primary">Search</button>
            </div>
        </section>
        <section id="charts">
            <svg width="500" height="500" id="barChart"></svg>
            <svg width="500" height="500" id="donutChart"></svg>
            <svg width="500" height="500" id="scatterChart"></svg>
        </section>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
        <script src="static/js/year_type_district.js"></script>
    </section>

{% endblock %}                              