<html>

    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,400italic,700' rel='stylesheet' type='text/css'>
  
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" /> 
    <link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet" /> 
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" /> 

          {% if title %}
          <title>Chicago Crime - {{ title }}</title>
          {% else %}
          <title>Chicago Crime</title>
          {% endif %}

    </head>
    <body>
        <div class="conatiner">
            <hr>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
 
            {% block content %}
            {% endblock %}

        </div>

    <link href="{{ url_for('static', filename='js/jquery.min.js') }}" /> 
    <link href="{{ url_for('static', filename='js/bootstrap.min.js') }}" /> 

    </body>
</html>
