{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="../static/styles/signup.css"/>
    <section id="signup">
        <main>
            <div id="formContainer">
                <header>
                    <h3>Sign Up</h3>
                </header>
                <main>
                    <form method="POST" action="/signup">
                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="email" id="username" name="username" placeholder="johndoe@domain.com" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control"/>
                        </div>
                        <div id="submitContainer">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                </main>
            </div>
        </main>
    </section>

{% endblock %}