#indexPage {
  padding: 0 30px;
  margin: auto;
  #welcome {
    padding: 15px 0;
    text-align: center;
  }
  #filtersContainer {
    padding: 30px 0;
    #inputs {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }
  }
  #charts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    #barChart {
      grid-column: 1 / 3;
    }
  }
}